body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: rgb(219, 219, 219);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
form{
width: 100%;
}
.form-add{
   
    display: flex;
    justify-content: space-between;
     margin: 0 5px;
}
.input{
    width: 90%;
}
.row{
    
    padding: 0 5px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.red {
    color: red;
}